data/raw/ml-25m.zip
data/raw/ml-25m/genome-scores.csv
data/raw/ml-25m/genome-tags.csv
data/raw/ml-25m/links.csv
data/raw/ml-25m/movies.csv
data/raw/ml-25m/ratings.csv
data/raw/ml-25m/tags.csv
data/raw/ml-25m/README.txt
